BasedOnStyle: LLVM
# Max length of line is 120
ColumnLimit: 120
# Use spaces instead of TABs
UseTab: Never
# TAB width
IndentWidth: 4
BreakBeforeBraces: Allman

# ETC
SpaceAroundPointerQualifiers: Both
SpaceBeforeParens: ControlStatements
PointerAlignment: Right
SpacesInAngles: false
SpaceBeforeAssignmentOperators: true
SpacesInContainerLiterals: true
BinPackArguments: false
BinPackParameters: false
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortLambdasOnASingleLine: false
BreakBeforeBinaryOperators: NonAssignment
AlignAfterOpenBracket: AlwaysBreak
SpacesBeforeTrailingComments: 2
